<div class="container">
  <form class="form" [formGroup]="form">
    <div class="form-input">
      <label>Frequency</label>
      <input formControlName="frequency" type="number"/>
      <div class="error" *ngIf="form.touched && form.get('frequency')?.hasError('required')">Frequency is required.
      </div>
      <div class="error" *ngIf="form.touched && form.get('frequency')?.hasError('min')">Frequency should be greater than
        zero.
      </div>
    </div>
    <div class="form-input">
      <label>Data Size</label>
      <input formControlName="dataSize" type="number"/>
      <div class="error" *ngIf="form.touched && form.get('dataSize')?.hasError('required')">Data size is required.</div>
      <div class="error" *ngIf="form.touched && form.get('dataSize')?.hasError('min')">Data size should be greater than
        zero.
      </div>
      <div class="error" *ngIf="form.touched && form.get('dataSize')?.hasError('max')">Data size should not be greater
        than 1000000.
      </div>
    </div>
    <div class="form-input">
      <label>Additional Ids</label>
      <input
        formControlName="additionalIds"
        type="text"
      />
      <div class="error" *ngIf="form.touched && form.get('additionalIds')?.hasError('pattern')">Additional Ids should be
        comma separated
        numbers.
      </div>
    </div>
  </form>

  <table class="table">
    <tr>
      <th>Id</th>
      <th>int</th>
      <th>float</th>
      <th>color</th>
      <th>child</th>
    </tr>
    <tr *ngFor="let item of data$ | async">
      <td>
        {{ item.id }}
      </td>
      <td>
        {{ item.int }}
      </td>
      <td>
        {{ item.float }}
      </td>
      <td [style.background-color]="item.color">
        {{ item.color }}
      </td>
      <table class="table">
        <th>id</th>
        <th>color</th>
        <tr>
          <td>{{ item.child.id }}</td>
          <td [style.background-color]="item.child.color">
            {{ item.child.color }}
          </td>
        </tr>
      </table>
    </tr>
  </table>
</div>
